[include]
    # Place to put tokens and secrets!
    path = ~/.gitconfig.local
[user]
	name = Ben Kalmus
    email = ben.kalmus@algolia.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[push]
	autoSetupRemote = true
[rebase]
    updateRefs = true

[pull]
    rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
